<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
    <link asp-href-include="~/lib/twitter-bootstrap/css/*.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-left">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Sklep komputerowy</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </nav>
    @{
        var successMessage = TempData["Success"];
        if (successMessage != null)
        {
            <div class="alert-success container-fluid">@Html.Raw(successMessage)</div>
        }
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>