<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
    <link asp-href-include="~/lib/twitter-bootstrap/css/*.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-left">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Sklep komputerowy</a>
            </div>
            <div class="col-2">
        </div>
            <form class=" col-2 navbar-form" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-primary"
               asp-action="Logout" asp-controller="Account">Wyloguj</a>
                </div>
            </form>
        </div>
        
        
    </nav>

    @{
        var successMessage = TempData["Success"];
        if (successMessage != null)
        {
            <div class="alert-success container-fluid">@Html.Raw(successMessage)</div>
        }
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>