<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="navbar navbar-inverse bg-inverse" role="navigation">
            <a class="navbar-brand" href="#"> Computer Shop</a>
        </div>
        <div class="row m-1 -1">
            <div id="categories" class="col-3">
                #TODO in future
            </div>
            <div class="col-9">
                @RenderBody() 
            </div>
        </div>
    </div>
</body>
</html>
